## ASSIGNMENT - 1

## REFERRAL ID -  SIRSS2109

## Write code in Python to print following patterns :-

# Q1

In [1]:
row = 5
for i in reversed(range(0,row)):
    for j in range(0,i+1):
        print(row,end=" ")
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

# Q2

In [2]:
row = 5
for i in range(0,row):
    for j in range(0,row-i+1):
        print(j,end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

# Q3

In [3]:
for i in range(1,10,2):
    for j in range(0,i,2):
        print(i,end=" ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

# Q4

In [4]:
row = 5
for i in range(1,row+1):
    for j in reversed(range(1,i+1)):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# Q5

In [5]:
count=0
a=0
for i in range(1,5):
    count += i
    a = count
    for j in range(1,i+1):
        print(a,end=" ")
        a -= 1
    print()

1
3 2
6 5 4
10 9 8 7

# Q6

In [6]:
def fact(n):
    factorial = 1
    for i in range(1,n+1):
        factorial *= i
    return factorial
row = 7
for i in range(row):
    for j in range(0,i+1):
        print(int(fact(i) / (fact(j)*fact(i-j))),end=" ")
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

# Q7

In [7]:
row =5
for i in range(0,row):
    for j in range(1,row+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

# Q8

In [8]:
row = 8
for i in range(1,row+1):
    for j in range(1,i+1):
        print(j*i,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

# Q9

In [9]:
row = 6
for i in reversed(range(1,row+1)):
    for space in range((i),row+1):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()

 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

# Q10

In [10]:
row = 7
for i in range(1,row+1):
    for space in range(i,row+1):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

# Q11

In [11]:
row = 6
for i in range(0,6):
    for j in range(0,i+1):
        print("*",end=" ")
    print()
print()
for i in reversed(range(0,row)):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

# Q12

In [12]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print()
for i in reversed(range(0,n-1)):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Q13

In [13]:
row = 5
x = 2*row-2
for i in range(0,row):
    for space in range(0,x):
        print(end=" ")
    x -= 2
    for j in range(0,i+1):
        print("*",end=" ")
    print()
x = 2
for i in reversed(range(0,row-1)):
    for space in range(x,0,-1):
        print(end=" ")
    x += 2
    for j in range(0,i+1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

# Q14

In [14]:
row = 5
for i in range(row,0,-1):
    for space in range(i,row):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()
for i in range(0,row):
    for space in range(i,row-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

# Q15

In [15]:
x = 16
print("*"*x)
row = (x//2)-1
col = 2
while row != 0:
    while col <= (x-2):
        print("*"*row,end="")
        print("_"*col,end="")
        print("*"*row,end="\n")
        row -= 1
        col += 2

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*